*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  background: #f7f7f7;
  font-family: 'Raleway', sans-serif;
}
header{
  padding: 10px 100px;
  background:white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App{
  position: relative;
}
header ul{
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 700;
  color: black;
  align-items: center;
  position: relative;
}
header ul li{
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header--logo{
  width: 200px;
}
header ul li a{
  text-decoration: none;
  color: black;
}
.search-box{
  display: none;
  position: absolute;
  top: 170%;
  right: 0;
  color: black;
  background: white;
  padding: 15px;
}
.search-box-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.search-box-top{
  font-size: 13px !important;
}
.search-box.active{
  display: block;
}
.banner{
 overflow: hidden;
 height: 500px;
 margin-top: 95px;
}
.banner img{
  display: block;
  width: 100%;
}
.product{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.product-container{
  display: flex;
  flex-direction: column;
}
.product-container h3{
  text-transform: uppercase;
  font-size: 30px;
  padding: 5px 5px 5px 0;
  border-radius: 5px;
  font-weight: 900;
  margin: 10px 0;
}
.product-title{
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-more-btn{
  border: 2px solid #033e38;
  font-size: inherit;
  background: #033e38;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  height: fit-content;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  display: block;
  width: fit-content;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.product-more-btn::after{
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  transform: translateX(-102%);
  transition: all .8s;
  z-index: -1;
}
.product-more-btn:hover{
  color: black;
}
.product-more-btn:hover:after{
  transform: translateX(0);
}
@keyframes btn_ani1{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(100%);
  }
}
.menu-left{
  text-transform: uppercase;
  min-width: 20%;
  position: relative;
  background: #033e38;
}
.menu-left ul::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 300px;
  background: url('./img/tea-leaves.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.menu-left ul{
  position: sticky;
  top: 20%;
  height: 100vh;
  margin-top: 20%;
}
.menu-left ul li{
  display: flex;
  list-style: none;
  padding: 15px 10px;
  font-size: 16px;
  color:white;
  font-weight: 800;
  cursor: pointer;
  transition: all .4s;
}
.menu-left ul li:hover{
  color: #16b5a5;
}
.menu-left ul li:hover i{
  color: #16b5a5;
  transform: rotateZ(90deg);
}
.menu-left ul li i{
  margin-right: 10px;
  transition: all .4s;
}
.product-box{
  display: flex;
  flex-wrap: wrap;
}
.item{
  margin: 20px 20px 20px 0;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
  flex: 1 1;
  box-shadow: 0px 1px 22px 0px rgb(211 211 211 / 25%);
}
.item:last-child{
  margin-right: 0;
}
.item-img{
  overflow: hidden;
  border-radius: 5px;
  transition: all .4s;
}
.item-img img{
  width: 100%;
  height: 100%;
  display: block;
  transition: all .3s;
}
.item-img:hover img{
  transform: scale(1.1);
}
.item h4{
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}
.item h3{
  font-size: 20px;
  font-weight: 700;
  color: #a25c2e;

}
.item-bottom{
  display: flex;
  justify-content: space-between;
}
.btn{
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background: #a25c2e;
  color: white;
  border-radius: 5px;
  border: 2px solid #a25c2e;
  transition: all .5s;
}
.btn:hover{
  border: 2px solid #a25c2e;
  background: white;
  color: #a25c2e;
}
.product-right{
  display: flex;
  flex-direction: column;
  min-width: 70%;
  margin-left: 10px;
  max-width: 1035px;
  margin: 0 auto;
}
/* order */
.order-header{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative;
}
.order-header button{
  font-size: 15px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 10px 30px;
  background: white;
  border: 1px solid #eaeaea;
  outline: none;
  cursor: pointer;
}
.order-logo{
  width: 225px;
}
.order-logo img{
  width: 100%;
  height: 100%;
}
.address-container{
  display: flex;
}
.address-container input{
  outline: none;
  border: 1px solid #4c4c4c;
  padding: 8px;
  width: 340px;
  margin-left: 45px;
  font-family: inherit;
}
.login-area{
  display: flex;
}
.cart-icon{
  display: flex;
  align-items: center;
  margin-left: 43px;
}
.cart-number{
  width: 20px;
  height: 20px;
  background: #a25c2e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 11px;
  color: white;
}
.order-body{
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto;
  margin-top: 40px;
}
.order-left{
  flex: 2;
  display: flex;
}
.order-menu{
  background: white;
  flex: 1 1;
  height: fit-content;
  border-radius: 8px;
}
.order-main{
  flex: 2;
  margin: 0 15px;
}
.order-search{
  margin-bottom: 15px;
}
.order-search input{
  width: 100%;
  outline: none;
  border: none;
  font-family: inherit;
  padding: 10px;
  border-radius: 5px;
}
/* .order-items{
  background: white;
} */
.cart{
  flex: 1;
}
.order-menu ul li{
  padding: 10px 20px;
  list-style: none;
  font-size: 19px;
  text-transform: capitalize;
  color: gray;
  cursor: pointer;
  font-weight: 200;
}

.order-item{
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  background: white;
  margin: 5px 0;
  border-radius: 5px;
}
.order-item-image{
  max-width: 90px;
  max-height: 90px;
  min-width: 90px;
  min-height: 90px;
}
.order-item-image img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
}
.order-item-content{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-item-content h4{
  text-transform: capitalize;
}
.order-item-content p{
  font-size: 15px;
  color: gray;
}
.item-content-bottom{
  display: flex;
  justify-content: space-between;
}
.item-content-bottom span{
  font-weight: 600;
}
.select-icon{
  width: 30px;
  height: 30px;
  border: 2px solid #a25c2e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #a25c2e;
  cursor: pointer;
}
.cart{
  background: white;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
  border-right: 5px;
  border-radius: 8px;
}
.cart button{
  width: 100%;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  background: #a25c2e;
  color: white;
  font-weight: 600;
  border-radius: 8px;
}
.cart-items{
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  margin: 24px 0;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.cart-item i{
  transition: all .3s;
}
.cart-item i:hover{
  color: #c5723b;
}
.cart-item-left{
  display: flex;
  align-items: center;
}
.number-box{
  width: 25px;
  background: #a25c2e;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0 15px;
  margin-right: 10px;
}

.cart-item-left-info h5{
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.cart-item-left-info small{
  font-size: 14px;
}

.cart-fees ul{
  margin-bottom: 20px;
}
.cart-fees ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  color: #333333;
}

.discount-box{
  display: flex;
  margin-bottom: 10px;
  background: #f7f7f7;
  overflow: hidden;
  border-radius: 5px;
}
.discount-box input{
  outline: none;
  font-family: inherit;
  flex: 2 1;
  border: none;
  background: inherit;
}
.discount-box button{
  flex: 1;
}
.cart-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  border-top: 1px solid #f1f1f1;
  padding-top: 15px;
}

.cart-total h4{
  font-size: 20px;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}
.modal-item{
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 15px;
  position: relative;
}
.modal-title{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  z-index: -1;
}
.modal-title h3{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 85px;
  color: #fbfbfb;
  z-index: -1;
}
.modal-btn{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.modal-image{
  width: 90px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.modal-image img{
  width: 100%;
  height: 100%;
  display: block;
}

.modal-info h4{
  font-weight: 800;
  text-transform: capitalize;
  font-size: 24px;
}

.modal-type{
  padding-bottom: 10px;
}
.modal-type h4{
  font-weight: 600;
  margin-bottom: 10px;
}
.form-check-container{
  display: flex;
}
.form-check{
  margin-right: 10px;
  background: #eaeaea;
  padding: 10px;
  flex: 1;
  border-radius: 7px;
}
.form-check:last-child{
  margin-right: 0;
}
.form-check input{
  margin-right: 5px;
}
.modal-note{
  background: #e8e8e8;
  border-radius: 8px;
}
.modal-note input{
  width: 100%;
  padding: 5px;
  font-size: 14px;
  outline: none;
  margin: 10px 0;
  border: none;
  background: inherit;
}
.modal-bottom{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.modal-amount{
  display: flex;
}
.modal-amount div{
  width: 40px;
  height: 40px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  color: #a25c2e;
  cursor: pointer;
  font-weight: 800;
}
.modal-amount .amount{
  border: none;
}
.modal-bottom button{
  border: none;
  outline: none;
  font-size: inherit;
  padding: 15px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  background: #a25c2e;
  color: white;
  border-radius: 8px;
}
.payment-box{
  flex: 2;
  margin-right: 15px;
}
.payment-box h3{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
.payment-content{
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.form-group{
  display: flex;
}

.form-group input,
.form-group textarea{
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  font-family: inherit;
  padding: 10px;
  border: none;
  background: #f7f7f7;
  border-radius: 5px;
  outline: none;
}
.payment-bottom .form-check{
  display: flex;
    flex-direction: column;
}
.payment-choices{
  display: flex;
}
.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(185 185 185 / 50%);
  width: 100%;
  height: 100vh;
}
.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.popup-top{
  display: flex;
  align-items: center;
}
.popup-top img{
  width: 100px;
  height: 100px;
}
.popup button{
  font-family: inherit;
  outline: none;
  background: white;
  border: 1px solid #dadada;
  width: calc(50% - 10px);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .4s;
  font-size: 15px;
}
.popup button:hover{
  background: #033e38;
  color: white;
}
.btn-container{
  display: flex;
  justify-content: space-between;
}
.item-pages{
 position: relative;
}
.item-pages-container{
  display: flex;
}
.item-pages-left{
  overflow: hidden;
}
.item-pages-left{
  flex: 3;
}
.item-pages-left ul{
  display: flex;
  flex-direction: column;
}
.item-pages-left ul li{
  list-style: none;
  overflow: hidden;
}

.item-pages-center{
  flex: 1;
  background: white;
  position: relative;
}

.item-pages-center ul{
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  top: 0;
}
.item-pages-center ul li{
  list-style: none;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all .3s;
}
.item-pages-center ul li:hover{
  color: #ababab;
}
.item-pages-right{
  flex: 3;
}
.item-pages-right-box{
  padding: 20px;
  height: 100vh;
  padding-top: 125px;
}
.item-pages-right-box small{
  font-family: inherit;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 35px;
}
.item-pages-right h1{
  text-transform: uppercase;
  font-weight: 900;
}
.item-pages-left{
  position: relative;
}
.item-pages-left li{
  position: relative;
}
.item-pages-left li h1{
  position: absolute;
  top: 0;
  left: 0;
}
.item-pages-left img{
  width: 100%;
  height: 100vh;
  display: block;
}
.item-pages-block{
  margin: 30px 0;
}
.item-pages-block h4{
  text-transform: uppercase;
  font-weight: 600;
}
.item-pages-block input{
  font-family: inherit;
  font-size: inherit;
  outline: none;
  margin-top: 15px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  border-radius: 5px;
  padding: 5px;
}
.item-pages-btn-container{
  display: flex;
}
.item-pages-btn-container img{
  width: 45px;
  height: 45px;
  display: none;
}
.item-pages-btn-container img.active{
  display: block;
}
.item-pages-right p{
  margin: 15px 15px 30px 0px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 15px;
}
.form-size{
  display: flex;
  margin-top: 15px;
}
.form-size .form-check{
  padding: 20px;
  display: flex;
  align-items: baseline;
  border-right: none;
  flex: 1 1;
  background: #e8e8e8;
  border-radius: 8px;
}
.form-size .form-check input{
  margin: 0;
  margin-right: 10px;
}
.form-size .form-check:last-child{
  border-right: 1px solid #e8e8e8;
}
.item-pages-block h3{
  font-size: 24px;
}
.item-pages--btn{
  border: none;
  outline: none;
  font-family: inherit;
  padding: 15px;
  background: white;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.item-pages--btn::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #341b07;
  z-index: -1;
  border-radius: 50%;
}
.item-pages--btn:hover{
  color: white;
}
.item-pages--btn:hover::after{
  animation: ani1 2s forwards;
}
@keyframes ani1{
  from{
    width: 0;
    height: 0;
  }
  to{
    width: 200px;
    height: 200px;
  }
}
.item-pages-slider{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.related-box{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.related-box .item .item-bottom{
  flex-direction: column;
}
.related-box .item .item-bottom a button{
  width:-webkit-fill-available;
}
.dropdown-cart{
  position: absolute;
  left: 0;
  background: white;
  padding: 10px;
  width: 100%;
  top: 100%;
  border-radius: 10px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.dropdown-cart ul{
  flex-direction: column;
}
.dropdown-cart ul li{
  width: 100%;
  font-weight: 900;
  border-bottom: 1px solid #e8e8e8;
}
.dropdown-cart--payment{
  background: #a25c2e;
  padding: 10px;
  border-radius: 8px;
}
.dropdown-cart--payment h4{
  text-align: center;
  color: white;
  font-weight: 700;
}
.empty-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}
.empty-container img{
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
.category{
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.category-block-top{
  background: white;
  padding: 20px;
  position: relative;
  height: 145px;
  border-radius: 9px;
}
.category-block-top h1{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 55px;
  z-index: 99;
  position: relative;
}
.category-title-back{
  position: absolute;
  top: 25%;
  left: 10%;
}
.category-title-back h2{
  text-transform: uppercase;
  font-weight: 900;
  color: #f7f7f7;
  font-size: 70px;
}
.category-block-bottom{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100vh;
}
.loading img{
  width: 100px;
  height: 100px;
}
.category-block-middle{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-end;
}
.sort-box{
  font-family: inherit;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
  outline: none;
  width: 15%;
}